@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label {
    @apply mb-2 block cursor-text text-sm font-normal leading-[140%] text-gray-600;
  }
  .input {
    @apply m-0 block h-11 w-full appearance-none rounded border border-gray-200 bg-transparent p-[11px] text-sm font-normal leading-[18px] tracking-[0px] text-black outline-0 ring-gray-800 focus:ring-2;
  }
  .form-group {
    @apply block;
  }
  .form {
    @apply flex flex-col gap-3;
  }
  .form-container {
    @apply my-4 flex h-4/5 w-full flex-col overflow-y-auto rounded-md bg-white p-4 text-gray-900;
  }
  .title {
    @apply mb-2 text-center text-2xl font-bold text-gray-900;
  }
  .AIbutton {
    @apply h-10 w-max rounded-md bg-[#ff6384] px-4 py-2 font-semibold text-white;
  }

  .SDbutton {
    @apply h-10 w-max rounded-md bg-[#ff9f40] px-4 py-2 font-semibold text-white;
  }

  .ABbutton {
    @apply h-10 w-max rounded-md bg-[#ffcd56] px-4 py-2 font-semibold text-white;
  }

  .RBbutton {
    @apply h-10 w-max rounded-md bg-[#4bc0c0] px-4 py-2 font-semibold text-white;
  }

  .CCbutton {
    @apply h-10 w-max rounded-md bg-[#36a2eb] px-4 py-2 font-semibold text-white;
  }

  .PDbutton {
    @apply h-10 w-max rounded-md bg-[#9966ff] px-4 py-2 font-semibold text-white;
  }

  .AIinput-button {
    @apply col-span-5 flex h-10 w-32 items-center justify-center gap-2 rounded-md bg-[#ff6384] px-4 py-2 font-semibold text-white;
  }
  .main {
    @apply flex flex-col items-center;
  }
  .container {
    @apply flex w-full justify-items-center;
  }
}

.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: 0.9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner-button {
  --uib-size: 1.6rem;
  --uib-speed: 0.9s;
  --uib-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
